<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udinus.a43ug_a11202013065_nurulismawati_utsppb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SKY LIBRARY"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.43UG_A11202013065_NurulIsmawati_UTSPPB">
        <activity
            android:name=".SuksesResetPassword"
            android:exported="true" />
        <activity
            android:name=".DetailBukuActivity"
            android:exported="true" />
        <activity
            android:name=".ResetPassword"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".Sukses_Activity"
            android:exported="true" />
        <activity
            android:name=".Activity_Pinjam"
            android:exported="true" />
        <activity
            android:name=".ListBookActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeBackActivity"
            android:exported="true" />
        <activity
            android:name=".LiterasiActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity2_ExploreLibrary"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>